.main {
  padding: 64px;
}

.main a {
  text-decoration: underline;
  color: green;
  font-weight: 600;
}

.img {
  width: 100%;
  height: auto;
  margin: 16x 0;
  display: block;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 16px 0;
}

.section {
  margin: 32px 0; 
}

.section:first-child {
  margin: 0;
}

.list {
  margin: 16px;
}

.list li {
  margin: 4px;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.paragraph {
  font-size: 16px;
  margin: 8px 0;
}


@media (max-width: 960px) {
  .main {
      padding: 32px;
  }
}